*{

margin:0;

padding:0;

box-sizing:border-box;

font-family:
"Segoe UI",
sans-serif;

}




body{


height:100vh;

display:flex;

justify-content:center;

align-items:center;

overflow:hidden;


background:
linear-gradient(
135deg,
#020617,
#1e1b4b,
#312e81
);


color:white;

}




.background{


position:absolute;

width:500px;

height:500px;


background:
linear-gradient(
45deg,
#06b6d4,
#9333ea
);


filter:blur(150px);


animation:
move 8s infinite alternate;


}




@keyframes move{


from{

transform:translate(-200px,-100px);

}


to{

transform:translate(250px,150px);

}


}






.container{


position:relative;


width:900px;


padding:40px;


border-radius:25px;



background:
rgba(255,255,255,0.12);



backdrop-filter:
blur(20px);



box-shadow:
0 25px 50px rgba(0,0,0,0.4);



text-align:center;


}





.header h1{


font-size:42px;


margin-bottom:15px;


background:
linear-gradient(
90deg,
#22d3ee,
#c084fc
);


-webkit-background-clip:text;


color:transparent;


}




.header p{


color:#ddd;


font-size:18px;


margin-bottom:40px;


}






.upload-section{


display:flex;


align-items:center;


justify-content:center;


gap:40px;


}




.image-card{


width:300px;


}





.image-card h3{


margin-bottom:15px;


}





.upload-box{


height:260px;


width:100%;


border-radius:20px;


border:
2px dashed rgba(255,255,255,0.5);



display:flex;


justify-content:center;


align-items:center;



cursor:pointer;


overflow:hidden;


position:relative;


background:
rgba(255,255,255,0.1);


transition:.3s;


}




.upload-box:hover{


transform:scale(1.05);


border-color:#22d3ee;


}




.upload-box input{


display:none;


}




.upload-box img{


width:100%;


height:100%;


object-fit:cover;


display:none;


}





.upload-box span{


font-size:17px;


color:#ddd;


}




.divider{


font-size:30px;


font-weight:bold;


color:#22d3ee;


}




button{


margin-top:40px;


padding:18px 55px;


border:none;


border-radius:40px;



font-size:20px;


cursor:pointer;


color:white;


background:
linear-gradient(
90deg,
#06b6d4,
#9333ea
);



transition:.3s;


}



button:hover{


transform:
translateY(-5px)
scale(1.05);



box-shadow:
0 10px 30px rgba(34,211,238,.5);


}





.result-box{


margin-top:35px;


padding:20px;


border-radius:20px;


background:
rgba(0,0,0,.25);


}



#result{


font-size:28px;


}




#confidence{


margin-top:10px;


color:#22d3ee;


}